@import "tailwindcss/preflight";
@import "tailwindcss";
@tailwind utilities;

:root {
  --foreground: #212121;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

/* Esconder a barra de rolagem em navegadores baseados em WebKit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Animação de fade-in para elementos */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
